//
// Breakpoints
//
//
//=====================================

$large-desktop-screen: 1920px;
$large-laptop-screen: 1600px;
$medium-laptop: 1340px;
$tablet-landscape: 1024px;
$tablet-portrait: 768px;
$phone-landscape: 640px;
$phone-portrait: 340px;