//
// Dimensions Variables
//=====================================

// Header
$title-area_width: 300px;
$site-title_min-height: 80px;
$header-right_width: 800px;
$header-right_width-large-screen: 620px;