//
// Dimensions Variables
//=====================================

// Header Module
$title-area_width: 300px;
$site-title_min-height: 80px;
$header-right_width: 800px;
$header-right_width-large-screen: 620px;

// Footer Module

$footer-widgets_width: 380px;
$footer-widgets_width-large-screen: 340px;
$footer-widgets_width-medium-screen: 300px;
