//
// Header
//=====================================

$site-title_font-size: 30;
$site-description_font-size: 16;

//
// Navigation
//=====================================

$nav_font-size: 16;
$nav-submenu_font-size: 14;
$primary-nav_font-size: 14;
$archive-pagination_font-size: 16;

//
// Entry Content
//===================
$entry-meta_font-size: 16px;
$entry-header-entry-meta_font-size: 16px;
$entry-footer_entry-meta_font-size: 16px;

$entry-title_font-size: 36px;

//
// Footer
//=====================================

$footer-widgets_font-size: 18;

$site-footer_font-size: 16;
